/* interntestAdmin css */


html{
    overflow-x: hidden;
    background-color: rgb(231, 231, 231);
}

.gettic{
    margin: -10px -10px 0 -10px;
    display: flex;
    width: 100%;
    height: 320px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.gettic .gettic-box{
    height: 80%;
    width: 40%;
    box-shadow: 0px 1px 5px black;
    border-radius: 15px;
    color: rgb(41, 141, 255);
    background-color: rgb(184, 217, 255);
}

.gettic .gettic-box .box-wrap div{
    padding: 10px;
    width: 45%;
    height: 35%;
    font-size: 37px;
    font-weight: bold;
    text-align: left;
    display: inline-block;
}

.gettic .gettic-box .box-wrap div:nth-child(2){
    text-align: center;
    color: black;
}

.gettic .gettic-box .box-wrap div:nth-child(4){
    text-align: center;
    color: black;
}

.gettic .gettic-box .wrap-btn{
    padding: 10px;
    width: 100%;
    height: 40%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.gettic .gettic-box .wrap-btn button{
    padding: 10px;
    width: 45%;
    height: 45px;
    font-size: 20px;
    font-weight: bold;
    line-height: 22px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0.5px 5px black;
    background-color: aliceblue;
    transition: 40ms linear;
}

.gettic .gettic-box .wrap-btn button:hover{
    width: 47%;
    height: 50px;
    font-size: 22px;
}


.gettic2{
    margin: 0 -10px 0 -10px;
    display: flex;
    width: 100%;
    padding: 10px;
    padding-inline: 20px;
    justify-content: center;
    align-items: center;
}

.gettic2-box{
    width: calc((100% - 100px) /4);
    height: 200px;
    display: inline-block;
    margin-inline:20px;
    box-shadow: 0px 1px 5px black;
    border-radius: 15px;
    color: rgb(47, 203, 255);
    background-color: rgb(193, 240, 255);
}

.blub-wrap,.counter,.serve-num{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.counter,.serve-num{
    height: 39%;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
}

.serve-num{
    color: black;
}


.bulb{
    border-radius: 50%;
    height: 25px;
    width: 25px;
    margin-right: 15px;
}

.on{
    background-color: rgb(86, 255, 86);
    box-shadow: 0px 1px 10px rgb(86, 255, 86);
}

.busy{
    background-color: rgb(255, 25, 25);
    box-shadow: 0px 1px 10px rgb(255, 25, 25);
}

.off{
    background-color: rgb(160, 160, 160);
    box-shadow: 0px 1px 10px rgb(160, 160, 160);
}

@media (max-width:1270px){
    .gettic{
        height: 500px;
    }
    .gettic .gettic-box .wrap-btn button{
        width: 60%;
    }
}

@media (max-width:1035px){
    .gettic .gettic-box .box-wrap div{
        width: 100%;
    }
}

@media (max-width:850px){
    .gettic .gettic-box .wrap-btn button{
        width: 90%;
    }
}

@media (max-width:720px){
    .gettic2{
        flex-wrap: wrap;
    }
    .gettic2-box{
        margin-top: 20px;
        width: calc((100% - 100px) / 2);
    }
}

@media (max-width:620px){
    .gettic{
        height: 720px;
    }
    .gettic .gettic-box .wrap-btn button{
        height: 80px;
    }
}




/* interntestAdmin css */

.A-title{
    width: 100%;
    height: 150px;
    border: 1px solid black;
}

.A-title p{
    font-size: 40px;
    font-weight: bold;
}

.counter{
    margin-top: 20px;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
}


.eachcounter{
    display: inline-block;
    height: 350px;
    width: calc(( 100% - 200px)/4);
    margin-inline: 20px;
    background-color: aliceblue;
    box-shadow: 0px 1px 6px black;
    border-radius: 10px;
}

.eachcounter form{
    height: 100%;
    width: 100%;
}

.EC-title,.adminbtn-wrap{
    width: 100%;
    height: 25%;
    font-size: 35px;
    text-align: center;
    line-height: 80px;
    border-bottom: 1px solid rgb(190, 190, 190);
    color: blue;
}

.adminbtn-wrap{
    height: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: none;
}

.adminbtn-wrap button{
    height: 20%;
    width: 85%;
    font-size: 25px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0.5px 5px black;
    color: white;
    transition: 100ms linear;
    background-color: rgb(115, 192, 255);
}

.adminbtn-wrap button:hover{
    height: 22%;
    width: 90%;
    color: rgb(184, 201, 255);
    background-color: rgb(59, 167, 255);
}

.makeoff button:first-child{
    background-color: rgb(255, 118, 118);
}

.makeoff button:first-child:hover{
    color: rgb(219, 218, 218);
    background-color: rgb(182, 180, 180);
}

.makeon button:first-child{
    color: rgb(219, 218, 218);
    background-color: rgb(182, 180, 180);
}

.makeon button:nth-child(2), .makeon button:nth-child(3){
    color: rgb(219, 218, 218);
    background-color: rgb(182, 180, 180);
    pointer-events: none;
}

.makeon button:nth-child(2):hover, .makeon button:nth-child(3):hover{
    height: 20%;
    width: 85%;
}

.makeon button:first-child:hover{
    background-color: rgb(255, 118, 118);
    color: rgb(255, 196, 196);
}